@import url('opensans.css');

html, body {
  
    font-size: 18px;
    font-weight: 300;
    height: 100%;
	font-family: 'Open Sans', sans-serif;

}
.headercontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100%);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc8c2a+0,f74c7d+100 */
    background: #F74C7D; /* Old browsers */
    background: -moz-linear-gradient(top, #fc8c2a 0%, #f74c7d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fc8c2a 0%,#f74c7d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fc8c2a 0%,#f74c7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8c2a', endColorstr='#f74c7d',GradientType=0 ); /* IE6-9 */
}
video
{
    background: #000;
}
.btn-light
{
    color: #F74C7D !important;
}
.bg-transparent-dark
{
    background: rgba(0,0,0,.2);
    border-radius: 3px;
}
.headercontent2 {

    min-height: calc(100%);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc8c2a+0,f74c7d+100 */
    background: #F74C7D; /* Old browsers */
    background: -moz-linear-gradient(top, #fc8c2a 0%, #f74c7d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fc8c2a 0%,#f74c7d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fc8c2a 0%,#f74c7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8c2a', endColorstr='#f74c7d',GradientType=0 ); /* IE6-9 */
}

body
{


     color: #fff;

}

.border-radius-50
{
    border-radius: 23px;

}
.btn-login
{

}
.max-100
{
    max-width: 100%;
}
.btn-login:hover
{
    border-color: rgba(0,0,0,0);
    background: rgba(0,0,0,.2);
    color: #fff;
}

button, a
{
	cursor: pointer;
}


/* Responsividade */

/* MD */
@media (max-width: 1199px) {
  
}

/* SM */
@media (max-width: 991px) {
    

}

/* XS */
@media (max-width: 767px) {
    

}

/* XXS */
@media (max-width: 500px) {
   
    .col-xxs-12 {
        width: 100% !important;
    }

}

/* Inverse */

/* SM */
@media (min-width: 768px) {
    

}

/* MD */
@media (min-width: 992px) {
    

}

/* LG */

@media (min-width: 1200px) {
  

}